<div id="vid_wrap_{$video.videoid}" class="{if $video_view}{$video_view}{else}grid_view {if $cur_class == 'grid_view'}{else}{$cur_class}{/if}{/if} categorynum_{get_root_parent}">
	<div class="vid_thumb">
    	<a href="{videoLink vdetails=$video}" target="_blank">
    		<img src="{getThumb vdetails=$video}" title="{$video.title}" alt="{$video.title}" {ANCHOR place="video_thumb" data=$video} />
    		{if $video.broadcast=='private'}
        		<span class="private_video">&nbsp;</span>
        	{/if}
    	</a>
        <span class="vid_time">{$video.duration|SetTime}</span>

        {ANCHOR place='in_video_thumb' data=$video}
    </div> <!--VID_THUMB END-->
    <div class="vid_info_wrap">
        <h2 class="title truncatedtitle"><a href="{videoLink vdetails=$video}" title="{$video.title}" target="_blank">{$video.title|truncate:40}</a></h2>
        <div class='infos'>
	        <!--<span class='views'><b>{$video.views}</b> vues</span>-->
    	    <!--<span class='added'>Ajoutée {$video.date_added|niceTime}</span>-->
    	</div>
	</div> <!--VID_INFO_WRAP END-->
</div> <!--VID_WRAP END-->