/*---------------------------------------------------
    LESS Elements 0.6
  ---------------------------------------------------
    A set of useful LESS mixins by Dmitry Fadeyev
    Special thanks for mixin suggestions to:
      Kris Van Herzeele,
      Benoit Adam,
      Portenart Emile-Victor,
      Ryan Faerman

    More info at: http://lesselements.com
-----------------------------------------------------*/

.gradient(@color: #F5F5F5, @direction:top, @start: #EEE 0%, @stop: #FFF 100%) {
  background: @color;
  background: -webkit-linear-gradient(@direction, @start, @stop);
  background: -ms-linear-gradient(@direction,@start,@stop);
  background: -o-linear-gradient(@direction,@start,@stop);
  background: -moz-linear-gradient(@direction,@start,@stop);
  background: linear-gradient(@direction,@start,@stop);
}
.radial-gradient(@color: #555, @position: center bottom, @start: #999, @stop: #333 90%, @size: farthest-corner, @shape: circle){
   background: @color;
   background: -webkit-radial-gradient(@position, @shape @size, @start, @stop);
   background: -ms-radial-gradient(@position, @shape @size, @start, @stop);
   background: -o-radial-gradient(@position, @shape @size, @start, @stop);
   background: -moz-radial-gradient(@position, @shape @size, @start, @stop);
   background: radial-gradient(@position, @shape @size, @start, @stop);
}
.bw-gradient(@color: #F5F5F5, @start: 0, @stop: 255) {
  background: @color;
  background: -webkit-gradient(linear,
                               left bottom,
                               left top,
                               color-stop(0, rgb(@start,@start,@start)),
                               color-stop(1, rgb(@stop,@stop,@stop)));
  background: -ms-linear-gradient(bottom,
                                  rgb(@start,@start,@start) 0%,
                                  rgb(@start,@start,@start) 100%);
  background: -moz-linear-gradient(center bottom,
                                   rgb(@start,@start,@start) 0%,
                                   rgb(@stop,@stop,@stop) 100%);
}
.bordered(@top-color: #EEE, @right-color: #EEE, @bottom-color: #EEE, @left-color: #EEE) {
  border-top: solid 1px @top-color;
  border-left: solid 1px @left-color;
  border-right: solid 1px @right-color;
  border-bottom: solid 1px @bottom-color;
}
.drop-shadow(@x-axis: 0, @y-axis: 1px, @blur: 2px, @alpha: 0.1) {
  -webkit-box-shadow: @x-axis @y-axis @blur rgba(0, 0, 0, @alpha);
  -moz-box-shadow: @x-axis @y-axis @blur rgba(0, 0, 0, @alpha);
  box-shadow: @x-axis @y-axis @blur rgba(0, 0, 0, @alpha);
}
.rounded(@radius: 2px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
}
.border-radius(@topright: 0, @bottomright: 0, @bottomleft: 0, @topleft: 0) {
  -webkit-border-top-right-radius: @topright;
  -webkit-border-bottom-right-radius: @bottomright;
  -webkit-border-bottom-left-radius: @bottomleft;
  -webkit-border-top-left-radius: @topleft;
  -moz-border-radius-topright: @topright;
  -moz-border-radius-bottomright: @bottomright;
  -moz-border-radius-bottomleft: @bottomleft;
  -moz-border-radius-topleft: @topleft;
  border-top-right-radius: @topright;
  border-bottom-right-radius: @bottomright;
  border-bottom-left-radius: @bottomleft;
  border-top-left-radius: @topleft;
  -moz-background-clip: padding; -webkit-background-clip: padding-box; background-clip: padding-box;
}
.opacity(@opacity: 0.5) {
  -moz-opacity: @opacity;
  -khtml-opacity: @opacity;
  -webkit-opacity: @opacity;
  opacity: @opacity;
}
.transition-duration(@duration: 0.2s) {
  -moz-transition-duration: @duration;
  -webkit-transition-duration: @duration;
  transition-duration: @duration;
}
.transition(@property:all, @duration:0.2s, @ease:ease-out) {
   -webkit-transition: @property @duration @ease;
   -moz-transition: @property @duration @ease;
   -o-transition : @property @duration @ease;
   transition: @property @duration @ease;
}
.rotation(@deg:5deg){
  -webkit-transform: rotate(@deg);
  -moz-transform: rotate(@deg);
  transform: rotate(@deg);
}
.scale(@ratio:1.5){
  -webkit-transform:scale(@ratio);
  -moz-transform:scale(@ratio);
  transform:scale(@ratio);
}
.
.inner-shadow(@horizontal:0, @vertical:1px, @blur:2px, @alpha: 0.4) {
  -webkit-box-shadow: inset @horizontal @vertical @blur rgba(0, 0, 0, @alpha);
  -moz-box-shadow: inset @horizontal @vertical @blur rgba(0, 0, 0, @alpha);
  box-shadow: inset @horizontal @vertical @blur rgba(0, 0, 0, @alpha);
}
.box-shadow(@arguments) {
  -webkit-box-shadow: @arguments;
  -moz-box-shadow: @arguments;
  box-shadow: @arguments;
}
.box-shadow(@args1, @args2) {
  -webkit-box-shadow: @args1, @args2;
  -moz-box-shadow: @args1, @args2;
  box-shadow: @args1, @args2;
}
.box-shadow(@args1, @args2, @args3) {
  -webkit-box-shadow: @args1, @args2, @args3;
  -moz-box-shadow: @args1, @args2, @args3;
  box-shadow: @args1, @args2, @args3;
}
.columns(@colwidth: 250px, @colcount: 0, @colgap: 50px, @columnRuleColor: #EEE, @columnRuleStyle: solid, @columnRuleWidth: 1px) {
  -moz-column-width: @colwidth;
  -moz-column-count: @colcount;
  -moz-column-gap: @colgap;
  -moz-column-rule-color: @columnRuleColor;
  -moz-column-rule-style: @columnRuleStyle;
  -moz-column-rule-width: @columnRuleWidth;
  -webkit-column-width: @colwidth;
  -webkit-column-count: @colcount;
  -webkit-column-gap: @colgap;
  -webkit-column-rule-color: @columnRuleColor;
  -webkit-column-rule-style: @columnRuleStyle;
  -webkit-column-rule-width: @columnRuleWidth;
  column-width: @colwidth;
  column-count: @colcount;
  column-gap: @colgap;
  column-rule-color: @columnRuleColor;
  column-rule-style: @columnRuleStyle;
  column-rule-width: @columnRuleWidth;
}
.translate(@x:0, @y:0) {
  -moz-transform: translate(@x, @y);
  -webkit-transform: translate(@x, @y);
  -o-transform: translate(@x, @y);
  -ms-transform: translate(@x, @y);
  transform: translate(@x, @y);
}
.appearance(@values){
   -webkit-appearance: @values;
   -moz-appearance: @values;
   -o-appearance: @values;
   appearance: @values;
}
// Draws an arrow head on the right hand of a block.
// Unfortunately, there are constraints :
//    - the height MUST be the same as the block's
//    - the border-width can only be 1px
// usage : .element selector { height:12px; .arrow-tip-right(12px, #000, #fff); }
.arrow-tip-right(@height, @inner-color, @border-color){
   &:before {
         position: absolute; left:100%; top: -1px; content:''; width:0; height:0;
         border:(@height + 1px) solid transparent; border-left-color:@border-color;
      }
   &:after {
         position: absolute; left:100%; top:0px; content:''; width:0; height:0;
         border:@height solid transparent; border-left-color:@inner-color;
   }
}
/* tronque les titres trop longs */
.text-ellipsis() {
   white-space: nowrap;
   text-overflow: ellipsis;
   -o-text-overflow: ellipsis;
   overflow: hidden;
}
.float-container() {
   &:after { content: '.'; opacity: 0; visibility: 0; height: 0; clear: both; }
}

.reflection( @length: 20% ){
   -webkit-box-reflect: below 0 -webkit-linear-gradient(top, transparent, white @length);
}