@import 'elements.less';

@color_infos 	: rgb(255,203,1);
@color_savoirs 	: rgb(138,180,0);
@color_cours 	: #e27a1e;

/* On télécharge la font DIN si besoin */
@font-face {
	font-family: 'DIN-BoldRegular';
	src:url('../fonts/dinbold-webfont.eot');
	src: local('?'),url('../fonts/dinbold-webfont.woff') format('woff'),url('../fonts/dinbold-webfont.ttf') format('truetype'),url('../fonts/dinbold-webfont.svg#webfontOe3Cwqz4') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'DIN-LightRegular';
	src:url('../fonts/dinlight-webfont.eot');
	src: local('?'),url('../fonts/dinlight-webfont.woff') format('woff'),url('../fonts/dinlight-webfont.ttf') format('truetype'),url('../fonts/dinlight-webfont.svg#webfontSJdijtmn') format('svg');
	font-weight: normal;
	font-style: normal;
}
html { margin:0; padding: 0}
body {
    font-family: Arial,Helvetica,sans-serif;
    color: rgb(51, 51, 51);
    font-size: 11px;
    word-wrap: break-word;
    padding:0px;
	margin:0;
	width: 478px;
	height:180px;
	background: transparent;
}

.webtv {
	float: left;
	img { margin-top: 20px;width: 90px; }

	ul.channels {
		list-style-type:none;
		margin:8px 0 0 0; padding:0;

		li {
			background: #A7B4BB;
			margin: 5px 0;
			padding: 0;
			border-left: 2px solid #fff;
			&.infos { border-left-color: @color_infos; }
			&.savoirs { border-left-color: @color_savoirs; }
			&.cours { border-left-color: @color_cours; }

			a {
				text-decoration: none; color: #fff; font-size: 10px; font-family:'DIN-BoldRegular',Geneva, Arial, Helvetica, sans-serif;
				display: block; padding:3px 5px;
				&:hover, &:active { background: rgba(255,255,255,0.1); text-shadow: 0 1px 3px #777;}
			}
		}
	}
}

.grid_view {
	width:120px; height:180px;
	padding: 0px; margin: 0px 0px 0 7px;
	float: left;
	position: relative;

	.vid_thumb {
		position: relative;
		margin: 0px; padding:0;
		background: #fff;
		a{
			display: block;
			height:100px;
			overflow: hidden;
			border: 1px solid rgb(204, 204, 204);
			position: relative;

			&:hover { .box-shadow(0 3px 3px #555); }

 			img {
 				width: 160px;
   				height: 100px;
   				position: absolute; left:-85%; margin-left: 80px;
			}
		}
		.vid_time {
			position: absolute; display:block; bottom: 0; left:0; right:0; padding: 3px 5px;
			background: transparent; background: rgba(0,0,0,.3);
			text-align: right; color: #fff; font-size: 10px; font-weight: bold; text-shadow: 0px 0px 2px #000; font-family: Arial, sans-serif;
		}
	}

	.vid_info_wrap {
		height: 70px;
		position: absolute; bottom: 0;

		h2.title {
 			font-size: 11px;
 			margin: 0 0 3px 2px;
    		padding: 0px;
		}

		a {
			text-decoration: none;
         color: #999;
    		outline: medium none;
    		font-weight: bold;

	    	&:hover, &:active {
    			color: rgb(255, 203, 1);
    			outline: medium none;
			}
		}
		.infos{
			position: absolute; top: 45px;
			span { display: block; font-size: 9px; font-family:'DIN-LightRegular',Geneva, Arial, Helvetica, sans-serif;}
		}
	}
}

