@import 'elements.less';

html { margin:0; padding: 0}
body {
    font-family: Arial,Helvetica,sans-serif;
    color: rgb(51, 51, 51);
    font-size: 11px;
    word-wrap: break-word;
    padding:0px;
	margin:0;
	background: transparent;
}

.webtv {
	float: left;
	img { margin-top: 20px;width: 90px; }
}

.grid_view {
	width:120px; height:180px;
	padding: 0px; margin: 0px 0px 0 7px;
	float: left;
	position: relative;

	.vid_thumb {
		position: relative;
		margin: 0px; padding:0;
		background: #fff;
		a{
			display: block;
			height:100px;
			overflow: hidden;
			border: 1px solid rgb(204, 204, 204);
			position: relative;

			&:hover { .box-shadow(0 3px 3px #555); }

 			img {
 				width: 160px;
   				height: 100px;
   				position: absolute; left:-100%; margin-left: 80px;
			}
		}
		.vid_time {
			position: absolute; display:block; bottom: 0; left:0; right:0; padding: 3px 5px;
			background: transparent; background: rgba(0,0,0,.3);
			text-align: right; color: #fff; font-size: 10px; font-weight: bold; text-shadow: 0px 0px 2px #000; font-family: Arial, sans-serif;
		}
	}

	.vid_info_wrap {
		height: 70px;
		position: absolute; bottom: 0;

		h2.title {
 			font-size: 11px;
 			margin: 0 0 3px 2px;
    		padding: 0px;
		}

		a {
			text-decoration: none;
         color: #999;
    		outline: medium none;
    		font-weight: bold;

	    	&:hover, &:active {
    			color: rgb(255, 203, 1);
    			outline: medium none;
			}
		}
		.infos{
			position: absolute; top: 45px;
			span { display: block; font-size: 9px; font-family: Arial, sans-serif;}
		}
	}
}
.private_video{
	background-image:url(../images/private.png);
	width:100%;
	height:80px;
	position:absolute;
	top:2px;
	left:2px;
	border:0px;
	float:left;
}


