body, html {
    font-family: Arial,Helvetica,sans-serif;
    color: rgb(51, 51, 51);
    font-size: 11px;
    word-wrap: break-word;
    padding:0px;
}
body {
	margin:5px;
}
.grid_view {
	width: 204px;
	height: 160px;
	padding: 0px;
	margin: 0px 10px 12px 0px;
	float: left;
}
.vid_thumb a img {
    width: 200px;
    height: 120px;
    border: 1px solid rgb(204, 204, 204);
    padding: 1px;
}

.vid_thumb {
	position: relative;
	margin: 0px;
	background: none repeat scroll 0% 0% rgb(255, 255, 255);
}
.vid_thumb .vid_time {
    position: absolute;
    bottom: 2px;
    right: 2px;
    padding: 1px;
    background: none repeat scroll 0% 0% rgb(51, 51, 51);
    font-size: 10px;
    color: rgb(255, 255, 255);
    font-family: tahoma;
    word-wrap: break-word;
}
img.add_icon {
	display:none;
}
.grid_view h2.title, .list_view h2.title {
    font-size: 11px;
    margin: 2px 0px 3px 2px;
    padding: 0px;
}

a {
	text-decoration: none;
    color: rgb(255, 203, 1);
    outline: medium none;
    font-weight: bold;
}
a:hover, a:active {
    color: rgb(255, 203, 1);
    outline: medium none;
}
p {
	margin-top:1px;
	margin-left:2px;
}

