@import 'elements.less';

@color_infos 	: rgb(255,203,1);
@color_savoirs 	: rgb(138,180,0);
@color_cours 	: #e27a1e;

.bg_transparent(black, @opacity){ background: url("../images/transparent/black-@{opacity}.png"); background: rgba(0,0,0,@opacity);}
.bg_transparent(white, @opacity){ background: url("../images/transparent/white-@{opacity}.png"); background: rgba(255,255,255,@opacity);}

.overlay_duration {
	bottom: 0; left:0; right:0; padding: 3px 5px;
   .bg_transparent(black, 0.3);
	text-align: right; color: #fff; font-size: 90%; font-weight: bold; text-shadow: 0px 0px 2px #000; font-family: Arial;
}

/* Boutons CB */
.cb_button {
	width: auto; padding: 0 10px; .rounded(0);
	.gradient(transparent, top, rgba(0,0,0,0.1), rgba(0,0,0,0.2));
	border: 1px solid #444; border: 1p solid rgba(0,0,0,0.3);
	color: #888; text-shadow: -1px -1px #444;
	.transition(all, 0.2s);
	&:hover { .gradient(transparent, top, rgba(255,255,255,0.2), rgba(255,255,255,0.1)); .box-shadow(0 0 3px #555); color: #eee; }
	&:active { .bg_transparent(black, 0.2); color: #999; .box-shadow(0 0 1px #777);}
	&::-moz-focus-inner { border: 0; }
}


.cb_error{
   border: 0; background: red; background: rgba(255,0,0,0.4); .rounded(0); margin: 15px 0; padding: 15px 0;
   ul li { border: 0; color: #fff; text-shadow: 1px 1px #000; font-size: 130%;}
}

/* On télécharge la font DIN si besoin */

@font-face {
	font-family: 'DIN-BoldRegular';
	src:url('../fonts/dinbold-webfont.eot');
	src: local('?'),url('../fonts/dinbold-webfont.woff') format('woff'),url('../fonts/dinbold-webfont.ttf') format('truetype'),url('../fonts/dinbold-webfont.svg#webfontOe3Cwqz4') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'DIN-LightRegular';
	src:url('../fonts/dinlight-webfont.eot');
	src: local('?'),url('../fonts/dinlight-webfont.woff') format('woff'),url('../fonts/dinlight-webfont.ttf') format('truetype'),url('../fonts/dinlight-webfont.svg#webfontSJdijtmn') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'DIN-RegularRegular';
	src:url('../fonts/dinregular-webfont.eot');
	src: local('?'),url('../fonts/dinregular-webfont.woff') format('woff'),url('../fonts/dinregular-webfont.ttf') format('truetype'),url('../dinregular-webfont.svg#webfontouBixx1h') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* D'abord on fait disparaître les blocs qui nous gênent */
.main_vids { display:none } /* subscriptions */
.box { display: none} /* top ten users */
#introText { display: none}

/* On redéfinit ensuite certaines propriétés des blocs les plus importants */
html { background: #4b565a url(../images/utc/bg_2000x1284.jpg) top center; }
body { background:transparent;}
body * 		{ font-family: Geneva, Arial, Helvetica, sans-serif; }
.topHead 	{ background: transparent !important; margin-top: 40px;}
#container 	{ position: relative; margin-top:10px }
.logo 		{ margin-left: -13px; background: url(../images/utc/logo_webtv.png) no-repeat}

#container {
	.slogan { margin-left: 170px; color: #b3b3b3; font-size: 140%; border-bottom:1px solid #918f90; margin-bottom: 0px; }
	.blabla { margin-left: 170px; color: #fff; margin-top:8px; }
	.utclink { float:right; display:block;}
	.utclink a, .utclink a:visited { color: #b3b3b3; text-decoration:none;}
}

/********************************************************************************
 * Login
 **/
.login_utc {
	display: none; // Pour l'instant on n'utilise pas ce menu de login
	position: absolute; top: -35px; right: 40px;
	* { color: rgb(85,96,100); }
	.username { margin-right: 10px; font-weight: bold; }
	a:hover { color: #fff; }
}
.login_con {
	//display : none;
	position: absolute; top: -35px; right: 40px;
	#user_login_link{
		background: transparent;
		padding:0px 8px; margin:0px auto; height:25px;
		line-height:25px;  position:relative; bottom:1px; float:right; margin-right:15px;
		z-index:2000; overflow:hidden;
		a {
			display:block; text-decoration:none; text-align:center; text-shadow:1px 1px 1px #FFF;
			text-shadow: none; color: rgb(85,96,100);
			&:hover { color:#aaa; }
		}
	}
    a.utc { 
        display: inline-block; background: url(../images/login_button.png) top repeat-x;
        padding:0 5px; height:23px;  margin:5px 0px 5px 3px; border:1px solid #555;
		line-height:23px; font-size:100%; color:#FFF; text-align: center;
        text-decoration: none;
		&:hover { background: url(../images/login_button.png) bottom repeat-x; height:23px; cursor: pointer; border:1px solid #228bb3; }
		&:active { background:#2ba0cd; }     
    }
	.user_login_block {
		form fieldset legend {
			color:#000000;
		} 
		background:#f3f3f3; border:1px solid #ccc; border-top:0px none; padding:2px 5px; margin:0px; margin-right:10px; position:relative; z-index:1100;
		input[type=text], input[type=password] {
			width: 60px;
			padding:4px; font-size:100%; margin-bottom:2px; border:1px solid #ccc; background:#fff; color:#aaa;  font-family:Calibri,Tahoma,Verdana,Arial,sans-serif;
			&:hover, &:focus { color:#555; border:1px solid #aaa; }
		}
		input[type=submit] {
			display: inline-block; background:url(../images/login_button.png) top repeat-x;
			padding:0px; height:23px; margin:5px 0px 5px 3px; border:1px solid #555;
			line-height:19px; font-size:100%; color:#FFF; text-align:center;
			&:hover { background:url(../images/login_button.png) bottom repeat-x; height:23px; cursor:pointer; border:1px solid #228bb3; }
			&:active { background:#2ba0cd; }
		}
		input[type=checkbox] { width:10px; height:10px; vertical-align:middle; }
		a.forget  {
			background:url(../images/forget.png) top no-repeat; width:19px; height:19px; margin-top:3px; padding:0px; float:right;
			&:hover { background:url(../images/forget.png) bottom no-repeat; }
		}
		span.remember { font-size:90%;  }
		.avatar {
			padding:1px; width:40px; height:40px; background:#fff; margin:0px 5px 2px 0px; border:1px solid #ccc; float:left;
			&:hover { border:1px solid #aaa; }
		}
		.txt {
			font-size:100%; margin-bottom:8px;
			a {
				color:#cc0000; text-decoration:none; padding:1px;
				&:hover { background:#cc0000; color:#fff; }
			}
		}
		.links { font-size:90%; }
	}
}

/********************************************************************************
 * Gros onglets de couleur pour le choix des univers
 */
.top_tabs{
	position: relative; margin: 30px auto 0; width: 1000px;
	ul	{
		left: 0; padding: 0; position: relative;  height: 50px;
      border-bottom: 3px solid #ccc; border-bottom-color: rgba(255,255,255,0.1);
		li {
			right: auto; margin: 0 0 5px 335px; float: left; height: 21px; width: 325px;
         &[class*=Uncategorized] { display: none }
			a, &.selected a {
				.bg_transparent(white, 0.1); width: 323px; border: none;
				font-weight: normal; text-align: left; text-indent: 15px; padding: 0; line-height:20px;
				.transition(all, 0.3s);
			}
			&.selected	{ margin: 0; position:absolute; left:0; height: 50px; width: 325px;}
			&:first-child a, &:last-child a	{ .rounded(0); }
			a:hover	{ .bg_transparent(white, 0.3); }
			&.selected a { background: transparent; color: rgb(61,69,75); font-size: 220%; line-height: 50px; margin:0; padding:0; border-left: 0}
			/* petit trait de couleur pour chaque catégorie */
			a[href*="cat=12"] 	{ border-left: 3px solid @color_infos; }
			a[href*="cat=13"] 	{ border-left: 3px solid @color_savoirs; }
			a[href*="cat=14"] 	{ border-left: 3px solid @color_cours; }
		}
	}
}
.categorynum_none .top_tabs ul li { margin: 0 5px 5px 0; width: 340px; }
.colorize_top_tabs(@color, @color_name){
	.top_tabs {
		.selected { background: @color; }
		ul { border-bottom: 3px solid @color; }
	}
}
.categorynum_12 { .colorize_top_tabs(@color_infos, yellow); }
.categorynum_13 { .colorize_top_tabs(@color_savoirs, green); }
.categorynum_14 { .colorize_top_tabs(@color_cours, orange); }

/********************************************************************************
 * Barre de recherche
 */
.search_con {
	position: absolute; margin: 0;right:0; bottom: 6px;
	.moveL { display: none; }
	.s_bg {
		height: 20px; width:318px;
		background: #fff; border: 1px solid gray; border-radius: 0;
	}
	.searchbar {
		border-right: 0; width:268px; height:20px; line-height:22px; padding: 0 0 0 5px; margin:0;
		&:active, &:focus { outline: 2px solid rgba(255,203,1,0.3)}
	}
	.searchbutton {
		width:44px; height:20px; margin:0; border-left: 1px solid #eee;
		background: #fff; color: #555;
		.transition(all, 0.3s);	text-indent:0; font-family: inherit; line-height: 18px;
		&:hover {  background: #ddd; color: #000 }
 	}
 }

/********************************************************************************
 * Résultats de recherche
 **/
#search_results_container{
	position: relative;
	#simple_search { background: transparent; }
	.more_button { display: none; }
	.heading { .gradient(transparent, left, rgba(0,0,0,0.2), transparent); margin: 0 0 10px 0; text-indent: 10px;}
	.results { margin-bottom: 25px; }
}


 /********************************************************************************
 * Blocs de titres de "A la une" et "toutes les vidéos"
 */
.feature_con, .content_con { border: 0; padding:0; margin: 0; width: 660px; background: transparent; min-height: 500px; position: relative; }
#content {
	.vid_top_container, .watch_left { padding:0; }
	.block_title, .video_title {
		position: relative;
		border:0; height:25px; padding:0; text-indent: 15px; margin: 0 0 20px 0;
		background: rgb(80,90,95); .bg_transparent(white, 0.1);
		font-size: 120%; line-height: 26px; color: #fff;
		a {
			position: absolute; left: 335px;
			background-position: left center; background-repeat: no-repeat;
			color: #fff; font-size: 110%; line-height: 26px; text-decoration:none;  text-indent: 15px;
			&:hover { text-shadow: 0 1px 3px #333; }
		}
	}
}
.colorize_block_titles(@color, @color_name){
	#content {
		.block_title, .video_title {
			border-left: 3px solid @color;
			a { background-image: url("../images/utc/arrow_8x8_@{color_name}.png"); }
		}
		.watch_vids_head .head_subtitle {
			background-image: url("../images/utc/arrow_8x8_@{color_name}.png");
			background-repeat: no-repeat;
			background-position:left;
		}
	}
}
.categorynum_12 { .colorize_block_titles(@color_infos, yellow); }
.categorynum_13 { .colorize_block_titles(@color_savoirs, green); }
.categorynum_14 { .colorize_block_titles(@color_cours, orange); }



/********************************************************************************
 * liste des choix de tri de vidéos
 */
.tabs {
	background: transparent; border-radius: 0; height:auto;
	ul {
		overflow: hidden;
		li {
			line-height:20px;
			&.selected  { .bg_transparent(black, 0.5); }
			a {
				padding: 0; width: 215px; display: inline-block;
				background: transparent; border-right: 1px solid #fff;
				color: #fff; line-height: 20px; text-align: left; text-indent: 15px;
			}
			&:last-child a { border: 0; }
			&.selected a { color: #fff}
		}
	}
}

/* Pour l'instant on n'affiche pas les options de tri de vidéos */
.sort_cont { display: none; }
.time_cont { display: none; }
#style_change { display: none}

#videos_page { margin-bottom: 25px; overflow: hidden}
.pagination {
	position: absolute; bottom: 5px; left: 50%; margin-left: -300px;
	width: 600px;
	text-align: center;
	a, .selected { width: auto; padding: 0 4px; height: 20px; .rounded(0); border:1px solid #444; text-shadow: -1px -1px #444; line-height:20px;}
	a {
		color: #eee; .gradient(transparent, top, rgba(255,255,255,0.2), rgba(255,255,255,0.1));
		&:hover { .gradient(transparent, top, rgba(255,255,255,0.3), rgba(255,255,255,0.2)); }
	}
	.selected { color: #888; .gradient(transparent, top, rgba(0,0,0,0.1), rgba(0,0,0,0.2)); }
	li { border-right: 1px solid #000; }
}


.player_container { padding:0; background: transparent; }
a[href*=edit_video] { margin-tope:5px;color: #fff; }

.watch_vids_head { .bg_transparent(white, 0.1); color: #fff; margin: 0 0 10px; width:auto;}
.watch_vids_head .head_subtitle { color:#FFFFFF; font-size:0.8em; line-height:14px; padding-left:9px; float:right; clear:right;}

.categorynum_12 .watch_vids_head { border-left: 3px solid @color_infos;}
.categorynum_12 .watch_vids_head a { color: @color_infos;}
.categorynum_13 .watch_vids_head { border-left: 3px solid @color_savoirs;}
.categorynum_13 .watch_vids_head a { color: @color_savoirs;}
.categorynum_14 .watch_vids_head { border-left: 3px solid @color_cours;}
.categorynum_14 .watch_vids_head a { color: @color_cours;}

/********************************************************************************
 * Page de visionnage de vidéo
 */

 /* Système de notation */
.rating_container {
	.bg_transparent(white, 0.1); width:auto; padding:0 2px; border:0;
	.newRating {background: transparent; border:0}
	.newLike, .newDislike { border: 0; }
	.greenBar { border:0 }
	.rating_result_container .msg { color: #333; }
}

/* Actions vidéos */
.video_actions_cont {
	margin:0;
	.actions ul li {
		padding: 5px; margin-left:3px;
		.bg_transparent(white, 0.1);
		.transition(all, 0.3s);
		&:hover { .bg_transparent(white, 0.3); .box-shadow(0 0 5px #444);}
		a{
			&:hover { text-decoration: none; }
			img { background-position: center center; background-repeat: no-repeat; }
			.add_to_fav { background-image: url(../images/utc/video_add-to-fav_16x16.png); }
			.share_this { background-image: url(../images/utc/video_share_16x16.png); }
			.add_to_play { background-image: url(../images/utc/video_playlist_16x16.png); }
		}
	}
}
#share_form {
	color:#333;
	.action_box_title { padding: 0 0 3px; }
	.cancel { margin: 0 10px 3px; padding: 0 4px; border: 1px solid #999; border-radius: 3px; .bg_transparent(black, 0.1);}
}

.grid_view {
	width:323px; min-height: 250px; overflow: hidden;margin-right:5px; position: relative;
	.transition(all, 0.2s);
	border: 1px solid transparent;
	&:hover {
      .bg_transparent(black, 0.2);
		border-color: #333;
		.box-shadow(inset 0 0 1px #999, 0 1px 3px #444)
	}
	.add_icon { display:none }
	.vid_thumb {
		background: transparent; width: 320px; height: 180px; position: relative; margin:2px; overflow:hidden;
		.vid_thumb_img {
			width:320px; height:180px; padding:0; border:0; color: transparent;
			&:hover {border:0}
		}
		.vid_time { .overlay_duration; }
	}
	.vid_info_wrap {
		padding: 2px 5px 0px 5px;
		.truncatedtitle {  font-family: Verdana, Arial, sans-ms; font-weight: normal;font-size:110%;}
		.fulltitle { display: inline-block; font-size: 120%; word-wrap: break-word; width: 100%; }
		.username { display: none }
		.vid_info { color: #fff;}
	}
	.desc { display: none; margin: 0; color: #fff; padding:0;}
	.stats {
		font-size: 90%; color: #ddd; padding: 2px 5px 0px 5px;
	}

   &[data-categories*=InfoTV]     .vid_info_wrap .title { color: @color_infos; }
   &[data-categories*=SavoirsTV]  .vid_info_wrap .title { color: @color_savoirs; }
   &[data-categories*=CoursTV]    .vid_info_wrap .title { color: @color_cours; }

}

.watch_video_box {
	width: 300px; height: auto; overflow:hidden; padding: 0; margin: 0;
	.add_icon { display:none }
	.duration { .overlay_duration; }

	.watch_video_box_thumb {
		position:relative;  float: left;width:180px; height:100px;
		img { position:absolute; top:0; right:0; bottom:0; left:0; height:100%; width:100%;}
	}
   .stats { width: 100px; padding: 5px 0px 5px 10px; float: left; }
	.watch_video_box_details {
		clear: both; padding: 5px 0 10px; margin: 10px 0 0 5px; width: 295px;
		a[href*=watch_video] { font-size: 120%; }
	}
}
.categorynum_12 {
	.vid_info_wrap .title { color: @color_infos; }
	.watch_video_box_details { color: @color_infos; }
}
.categorynum_13 {
	.vid_info_wrap .title { color: @color_savoirs; }
	.watch_video_box_details { color: @color_savoirs; }
}
.categorynum_14 {
	.vid_info_wrap .title { color: @color_cours; }
	.watch_video_box_details { color: @color_cours; }
	.pagecontent h3 {
		color: @color_cours;
		border-bottom:1px solid @color_cours;
		margin-bottom:5px;
		margin-top:20px;
	}
	.pagecontent p {
		margin-top:3px;
	}
	.pagecontent a { color:#fff; }
}

// Description et tags de la video
.video_details {
	.bg_transparent(white, 0.1);
	border:0; .rounded(0);
	color: #fff;
	a {
		color: #ddd;
		&:hover {color: #fff; text-shadow: 1px 1px 1px #333;}
	}

	.tags_cats { margin-top: 20px; }
}


/********************************************************************************
 * Panneau de droite
 **/
.side_con {
	padding: 0; margin-right:0; width:320px;
	*, .category_list .categories, .categories ul.sub_categories { background-color: transparent; border:0;}
	& > div { margin:0; padding: 0; width:100%;}
	.category_list { margin:0; padding: 0; width:100%;}

	.categories {
		.description {
			display:none;
		}
		& > ul > li	{
			width: 317px; padding:0; margin-bottom: 10px;
			& > a {
				.bg_transparent(white, 0.1); height: 26px; color: #fff; font-size: 130%; line-height: 26px;
				&:hover { color: #fff }
				.title { display: inline-block; text-indent: 20px; }
			}
			&.selected > a { color: #fff}
		}
		ul.sub_categories {
			padding:0;
			li {
				padding: 0;
				a {
					overflow: hidden; padding: 4px; .transition(background, 0.3s);
					img, .img { margin-right: 7px; float:left;  width: 32px; height: 32px; margin-right: 7px; float:left;}
					.title { display: block; margin:6px 5px 0px; padding: 3px;}
					.description { display: block; font-size:90%; font-weight: normal; color: #fff}
				}
				&.selected a { color: #fff;  }
			}
		}
	}
}

.colorize_right_panel(@color, @color_name){
	& > a {border-left: 3px solid @color;}
	&.selected > a { background: fade(@color, 20%);}
	ul.sub_categories li {
		a {
			color: #FFF; // @color;
			&:hover { background: fade(@color, 10%); }
			.img { background-image: url("../images/utc/circarrow_32x32_@{color_name}.png"); }
		}
		&.selected a { background: fade(@color, 20%); }
	}
}


.side_con .categories > ul > li.parent_12 { .colorize_right_panel(@color_infos, "yellow"); }
.side_con .categories > ul > li.parent_13 { .colorize_right_panel(@color_savoirs, "green"); }
.side_con .categories > ul > li.parent_14 { .colorize_right_panel(@color_cours, "orange"); }


/********************************************************************************
 * Bouttons d'actions
 **/
.video_actions_cont li button {
	background:none;
	border:none;
	font-weight:bold;
	cursor:pointer;
}

/********************************************************************************
 * Commentaires
 **/
#commentsContainer{
	.no_comments { .bg_transparent(white, 0.1); border:0; margin: 5px 0;}
	.add_comment_box { .bg_transparent(white, 0.1); .transition(background, 0.3s); }

	.add_comment_box {
		h2 { margin: 0 0 5px; border-bottom: 1px solid #333; }
		.rounded(2px); .box-shadow(0 0 2px #333);
		.input { .rounded(0);}
		#comment_box {
			.rounded(2px); padding: 10px; .bg_transparent(white, 0.1);
			color: #eee;  text-shadow: 0 0 1px #000;
			border-color: #444;
			&:focus { outline: none; .box-shadow(inset 0 0 3px #555); }
		}
		.add_comment_result .error { font-weight: bold; border-color: #883333; color: #880000;}
  	}

	.comment {
		position: relative;
		.bg_transparent(white, 0.1); border:0; .box-shadow(0 0 2px #333); .rounded(2px); border-bottom: 1px solid rgba(255,255,255,0.3);
		.user_com_thumb_con { display: none; }
		.comm_other {
			width: 100%; float: left;
			.user_bar {
				background: transparent;
		 		.user_infos { float: left; font-weight: bold; }
				.comment_actions { float: right;}
			}
			.comment_cont { color: #fff;  font: 110% Verdana, Arial, sans-serif;}
			.comment_rating_cont {
				position: absolute; right: 0; bottom: 2px; width: auto;

				[class^=thumb_] { background: transparent url('') center center no-repeat; opacity: 0.7 }
				[class^=thumb_]:hover { opacity: 1; }
				.thumb_up { background-image: url(../images/utc/video_like_16x16.png); }
				.thumb_down { background-image: url(../images/utc/video_dislike_16x16.png); }
				.comment_rating {
					position: absolute; bottom: 16px; right:4px;
					.good { color: #338833; }
					.bad { color: #883333;}
				}
			}
		}
	}

   a.need_login {
      text-align: center; display: block; color: #333;
      &:hover { color: #000 }
   } 
}



/********************************************************************************
 * Bas de page
 **/
.logo_display {
   .logos{
      width: 440px; margin: auto; overflow: hidden; padding: 0 5px 10px; margin-bottom: 20px;
   	a {
         height: 60px; margin: 5px 10px 0 0;
         display: inline-block; float: left; color: transparent;
         .transition();

         &:hover { .box-shadow(2px 4px 2px #444, -2px 4px 2px #444); }
      }
   }
}

#footer {
	background: transparent; color: #fff; position: relative;
	a {
      color: #fff; text-decoration: none;
      &.mothership {
         display: block; position: absolute; top: 2px; width: 200px; left: 50%; margin-left: -100px;
         text-align: center; color: #fff; font-size: 200%;
         .transition(all, 0.2s);
         &:hover {color: @color_infos;}
      }
   }

	.footer_copyr {
	  text-align:right;
      position: absolute; top: 5px; right: 0;
		.utc { font-weight: bold }
		.cb { font-size: 90% }
      .credits { display: block; text-decoration: underline;}
	}

	.follow {
		position: absolute; top: 5px; left:0; overflow: hidden;
		.text { font-family: 'DIN-RegularRegular'; font-size: 160%; line-height: 42px; display: block; float: left; display: none;}
		a img {
			color: transparent; display: block; width: 32px; height: 32px; margin-left: 11px; float: left;
		}
	}

	.sub_footer {
		display: block; border-top: 1px solid rgba(0,0,0,0.2); margin: 45px 0 15px;
		.partners {
			border-top: 1px solid rgba(255,255,255,0.1); padding: 10px 0; overflow: hidden;
			.text { font-size: 90%; color: #fff; display: block; margin: 10px 0 0; text-align: center;}
         .logo_display;
		}
	}
}
.categorynum_none #footer {border-top: 3px solid #ccc; border-top-color: rgba(255,255,255,0.1); }
.categorynum_12 #footer { border-top: 3px solid @color_infos }
.categorynum_13 #footer { border-top: 3px solid @color_savoirs }
.categorynum_14 #footer { border-top: 3px solid @color_cours }

#credits {
   color: #fff; background: #686f76;
   h1 { padding: 20px; text-align: center; text-shadow: 1px 1px 1px #333;}
   h2 { margin: 7px 5px 0; padding: 2px 0 2px 10px; background: rgba(255,255,255,0.1); .box-shadow( 0 2px 4px #444); }
   p {
      white-space: pre; margin: 0; padding: 10px; word-wrap: break-word;
      &.nopre { white-space: normal; text-indent: 20px }
   }
   a { color: #fff; &:hover { text-shadow: 0 1px 3px #333; } }
   .logo_display;
   .logos { margin-left: 20px; }
}

.iconbox {
	position:absolute;
	top:5px;
	right:0px;
}
.thumbicon {
	display:block;
}

.cat_thumb {
	width:32px;
	height:32px;
}

.feder img { width:85px; height:60px; }
.europe img { width:90px; height:60px; }
.prefecture img { width:47px; height:60px; }
.region img { width:60px; height:60px; }
.unr img { width:79px; height:60px; }



/********************************************************************************
 * Pages utilisateurs
 **/

.channelBox { .bg_transparent(white, 0.1); }


.muted { color: #ccc; font-size: 90%; letter-spacing: -1px}


/* high DPI PC screen */
@media only screen and (min-resolution: 100dpi) and (min-width:1400px) {
	body, html {
		font-size:13px;
	}
}

@media only screen and (min-resolution: 140dpi) and (min-width:1600px)  {
	body, html {
		font-size:14px;
	}
}

/* high dpi mobile */
@media only screen and (min-resolution: 160dpi) and (max-device-width: 13in) {
	body, html {
		font-size:16px;
	}
}
@media only screen and (min-resolution: 240dpi) and (max-device-width: 13in) {
	body, html {
		font-size:18px;
	}
	.categories ul.sub_categories a { font-size:100%; }
}
@media only screen and (min-resolution: 380dpi) and (max-device-width: 13in) {
	body, html {
		font-size:20px;
	}
	.categories ul.sub_categories a { font-size:95%; }
}

