{assign var='video_fields' value=$Upload->load_video_fields($input)}


<div class="upload_info" id="upload_form{$objId}" style="margin-top:10px;">
    <h2>{$vdo_upload_step|sprintf:1}</h2>
    <form name="upload_form" class="upload_form" id="uploadForm{$objId}" method="post" action="" onSubmit="return false">



    {foreach from=$video_fields item=field_group}
     <fieldset>
      	{* Hide fields if group is not required *}
          {if $field_group.group_id!='required_fields'} 
            <span class="form_head" 
                onclick="$('#more_fields_{$field_group.group_id}{$objId}').slideToggle()"
                    style="cursor:pointer">{$field_group.group_name}</span>
            <div id="more_fields_{$field_group.group_id}{$objId}" style="display:none">
          {else}
            <span class="form_head">{$field_group.group_name}</span>
          {/if}
    
        
           <div {if $field_group.group_id=='required_fields'} style="width:400px; float:left"{/if}>
            {foreach from=$field_group.fields item=field}
            
            {if $field.name!='category[]'}
                <div class="field" id="field-{$field.id}">
                <label for="{$field.id}" class="label">{$field.title}</label>
                {if $field.hint_1}<div class="hint">{$field.hint_1}</div><br>{/if}
                {ANCHOR place=$field.anchor_before}
                {$formObj->createField($field)}
				{ANCHOR place=$field.anchor_after}
                {if $field.hint_2}<br>
                <div class="hint">{$field.hint_2}</div>{/if}
                </div>
            {else}
                {assign var='category_array' value=$field}
            {/if}
            
            {/foreach}
            {if $category_array}
                <div class="field">
                    <label for="{$field.id}" class="label">{$category_array.title}</label>
                    {if $category_array.hint_1}<div class="hint">{$category_array.hint_1}</div><br>{/if}
                    {ANCHOR place=$category_array.anchor_before}
                    <div style="overflow:auto; height:100%">
                        {$formObj->createField($category_array)}
                    </div>
                    {ANCHOR place=$category_array.anchor_after}
                    {if $category_array.hint_2}<br>
                        <div class="hint">{$category_array.hint_2}</div>
                    {/if}
                </div>
                {assign var='category_array' value=''}
            {/if}
            </div>

            {*

            Ce bloc correspond à l'ancienne méthode de choix de catégorie, se basant sur des checkbox.
            La nouvelle méthode utilise un select, donc il n'est pas nécessaire de chercher à rendre ce bloc le haut/grand possible.

            {if $category_array}
            <div style="float:left; width:200px; margin-left:10px;">
                <div class="field">
                <label for="{$field.id}" class="label">{$category_array.title}</label>
                {if $category_array.hint_1}<div class="hint">{$category_array.hint_1}</div><br>{/if}
                {ANCHOR place=$category_array.anchor_before}
                <div style="overflow:auto; height:100%">
                    {$formObj->createField($category_array)}
                </div>
				{ANCHOR place=$category_array.anchor_after}
                {if $category_array.hint_2}<br>
                <div class="hint">{$category_array.hint_2}</div>{/if}
                </div>
            </div>

            {assign var='category_array' value=''}
            {/if}
            *}


			{if $field_group.group_id=='required_fields'}<div class="clearfix"></div>{/if}
         
        {* Closing Div for hidden fields *}   
        {if $field_group.group_id!='required_fields'} 
        </div>
        {/if}
      </fieldset>
    {/foreach}	


    <div align="right" style="margin-top:10px">
    <input type="submit" name="submit_data" value="{lang code='uploading'}" 
    id="cbSubmitUpload{$objId}" disabled="disabled" class="cbSubmitUpload" ></div>
    </form>
</div>

<script src="{$js}/jquery_plugs/select2/select2.min.js"></script>
<script>
{literal}
    function activateSelect2()
    {
        $(".select2").select2({
            width: 'resolve',
            closeOnSelect: false,
            formatSelection: format,
            formatResult: format
        });
    }

    $(document).ready(function() { activateSelect2(); });
    
    activateSelect2();
{/literal}
</script>