<div class="category_list">
<span class="cat_heading">{lang code='categories'}</span>
<div class="categories">
    <ul>
    	{cbCategories type=$type echo="TRUE" output="list" no_first_level="TRUE" with_thumbs="TRUE"}
    </ul>
</div>
</div>