<nav class="category_list" id="skiptomenu">
	<div class="categories">
    	<ul>
    		{cbCategories type=$type echo="TRUE" output="list" no_first_level="TRUE" with_thumbs="TRUE" with_desc="TRUE" no_link_for_headers="TRUE"}
    	</ul>
	</div>
</nav>