{lang code='rating_total' sprintf="$likes,$dislikes" assign='rating_total'}
<div class="rating_container">
<div id="rating_container">
<div class="newRating clearfix">
	
    <div{if !$disable} onclick="rate('{$id}','5','{$type}')"{/if} onMouseOver="rating_over('{lang code='rating_video_like' addslashes='TRUE'}')",'{$disable}')" onmouseout="rating_out('{$rating_total}','{$disable}')" class="newLike">Like</div>
    <div style="width:120px; float:left; height:14px; margin-top:8px">
    	<div class="greenBar" style="width:{$perc}"></div>
        <div class="redBar" style="width:{$disperc}"></div>
    </div>
    <div{if !$disable} onclick="rate('{$id}','1','{$type}')"{/if} onMouseOver="rating_over('{lang code='rating_video_dislike' addslashes='TRUE'}','{$disable}')" onmouseout="rating_out('{$rating_total}','{$disable}')" class="newDislike">Dislike</div>
</div>
<div id="rating_result_container" style="margin-top:4px;" align="center">{if $rating_msg}{$rating_msg}{else}{$rating_total}{/if}</div>
</div>
</div>