{if $cur_class==''}
{assign var=cur_class value=$smarty.cookies.current_style}
{/if}


{if $display_type =='normal' || $display_type==''}
<!-- Video Box -->

<div id="vid_wrap_{$video.videoid}" data-categories="{$video.categories}" class="{if $video_view}{$video_view}{else}grid_view {if $cur_class == 'grid_view'}{else}{$cur_class}{/if}{/if}">
    	<a href="{videoLink vdetails=$video}"><div class="vid_thumb">
    			<img class="vid_thumb_img" src="{getThumb vdetails=$video size="med"}" title="{$video.description|escape:'quotes'}" alt="{$video.title}" {ANCHOR place="video_thumb" data=$video} />
		<span class="vid_time">{$video.duration|SetTime}</span>
		<div class="iconbox">
        {if $video.broadcast=='private'}
        	<img class="thumbicon thumb_private_big" src="{$imageurl}/icons/thumb-private-big.png" title="{lang code='vdo_br_opt2'}"/>
        {/if}
        {if $video.broadcast=='unlisted'}
        	<img class="thumbicon thumb_url_big" src="{$imageurl}/icons/thumb-url-big.png" title="{lang code='vdo_broadcast_unlisted'}"/>
        {/if}
        {if $video.broadcast=='unlogged'}
        	<img class="thumbicon thumb_login_big" src="{$imageurl}/icons/thumb-login-big.png" title="{lang code='logged_users_only'}"/>
        {/if}
        {if $video.broadcast=='unlisted_logged'}
        	<img class="thumbicon thumb_url_big" src="{$imageurl}/icons/thumb-url-big.png" title="{lang code='vdo_broadcast_unlisted'}"/>
			<img class="thumbicon thumb_login_big" src="{$imageurl}/icons/thumb-login-big.png" title="{lang code='logged_users_only'}"/>
        {/if}
        </div>
        {ANCHOR place='in_video_thumb' data=$video}
    </div> <!--VID_THUMB END-->
    <div class="vid_info_wrap">
        <div class="title truncatedtitle" categories="{$video.categories}">{$video.title|truncate:95}</div>
        <div class="list_rating">
        	{show_rating class='rating' rating=$video.rating ratings=$video.rated_by total='10' }
		</div>
    </div> <!--VID_INFO_WRAP END-->
    </a>
    <div class='stats'>
    	<span class='added'>{$video.date_added|niceTime}</span>, <span class='views'>{$video.views} {lang code='views'}</span>
    	{if $video.comments_count!=0}
    	<span class="comments">{$video.comments_count} {lang code='comments'}</span>
    	{/if}
    </div>

</div> <!--VID_WRAP END-->

{if $only_once}
    <div class="clearfix"></div>
{/if}
<!-- Video Box -->
{/if}


{if $display_type == "channel_page"}
	<li class="itemBox" onclick="loadObject(this,'videos','{$video.videoid}','viewingArea')">
    	<div align="center"><img src="{getThumb vdetails=$video}" alt="{$video.title}" width="110" height="64" /></div>
    </li> <!-- itemBox {$video.videokey} end -->
{/if}

{if $display_type=='add_type'}
<div class="vertical">
    <div class="video_thumb">
    	{ANCHOR place='in_video_thumb' data=$video}
        <label for="check_video_{$video.videoid}"><img src="{getThumb vdetails=$video}" width="110" height="66" border="0"  /></label>
        {if $check_type=='array'}
        <input type="checkbox" name="check_video[]" id="check_video_{$video.videoid}" style="position:absolute; bottom:0px; left:0px" {if $check_this} checked="checked"{/if} value="{$video.videoid}" />
        {else}
        <input type="checkbox" name="check_video_{$video.videoid}" id="check_video_{$video.videoid}" style="position:absolute; bottom:0px; left:0px" {if $check_this} checked="checked"{/if} value="yes" />
        {/if}
        <div class="duration">{$video.duration|SetTime}</div>

</div> <!--VIDEO_THUMB END-->
    <div class="details_block">
        <div class="lvl1 clearfix">
            <div class="title"><a href="{videoLink vdetails=$video}">{$video.title|truncate:30}</a></div>

            {show_rating class='rating' rating=$video.rating ratings=$video.rated_by total='10'}

        </div> <!--LVL1 END-->

        <div class="lvl2 clearfix">
            <div class="desc">{$video.description|description|strip_tags|truncate:100}</div>
            <div class="length">Time: <span>{$video.duration|SetTime:false}</span></div>
        </div> <!--LVL2 END-->

        <div class="lvl3 clearfix">
            <div class="views"><span>{$video.views}</span> view(<strong>s</strong>)</div>
        </div> <!--LVL3 END-->

        <div class="lvl4 clearfix">
            <div class="uploaded">
             <a href="{$userquery->profile_link($video)}">{$video.username}</a>
            </div>
        </div> <!--LVL4 END-->


    </div> <!--DETAILS_BLOCK END-->
    <div class="clearfix"></div>
 </div>
{if $only_once}
    <div class="clearfix"></div>
{/if}

{/if}
