{assign var=bgcolor value =F2F2F2}
{if $comments}
<table width="99%" border="0" cellpadding="2" cellspacing="1" style="color:#fff">
  <tr>
    <td width="35" height="30" bgcolor="#0066cc">CID</td>
    <td width="35" height="30" bgcolor="#0066cc">UID</td> 
    <td width="100" height="30" bgcolor="#0066cc">Username</td>
    <td width="150" height="30" bgcolor="#0066cc">Email</td>
    <td height="30" bgcolor="#0066cc">Comment</td>
    <td width="200" height="30" bgcolor="#0066cc" >Date</td>
    <td width="70" height="30" bgcolor="#0066cc">Votes</td>
    <td width="100" height="30" bgcolor="#0066cc">&nbsp;</td>
  </tr>
</table>
<div>
{foreach from=$comments.comments item=comment}
	<table width="99%" border="0" cellpadding="2" cellspacing="1" >
          <tr style="background-color:#{$bgcolor}">
            <td width="35" align="left">{$comment.comment_id}</td>
            <td width="35" align="left">{$comment.userid}</td>
            <td width="100" align="left">{if $comment.anonym_name}{$comment.anonym_name}{else}{$comment.username}{/if}</td>
            <td  width="150" align="left">{if $comment.anonym_email}{$comment.anonym_email}{else}{$comment.email}{/if}</td>
            <td ><div class="edit_comment" id="{$comment.comment_id}">{$comment.comment}</div></td>
            <td width="200" align="left" >{$comment.date_added|date_format}</td>
            <td width="70" align="left" >{$comment.vote}</td>
            <td width="100" ><a href="?{$link}&amp;delete_comment={$comment.comment_id}">Delete</a></td>
    </tr>
        
   	{if $bgcolor == 'F2F2F2'}
        	{assign var=bgcolor value =FFF}
       	{elseif $bgcolor == 'FFF'}
        	{assign var=bgcolor value =F2F2F2}
        {/if}
        	
{/foreach}
</table>
</div>
{else}
<div align="center"><em>No User Comments</em></div>
{/if}

{literal}
<script type="text/javascript">
$(document).ready(function() {
 	$('.edit_comment').editable(baseurl+'/actions/edit_comment.php', { 
 indicator : '<img src="'+baseurl+'/images/icons/progIndicator.gif">',
 tooltip   : 'Click to edit...',
})
});
</script>
{/literal}