{* Including Global Header *}
{include file="$style_dir/global_header.html"}

<body>
{php}ob_flush();flush();{/php}
<a href="#skiptomain" class="skip">Aller au contenu</a>
{if $smarty.const.THIS_PAGE =='featured'}
<a href="#skiptomenu" class="skip">Aller à la liste des sous-catégories</a>
{/if}

    
    <div id='custombg'
	{if $showCustomBg && $userquery->getUserBg($u,true)}
    style="background-position:center;background-image:
    	{if $userquery->getUserBg($u)}
        	url('{$userquery->getUserBg($u)}');background-repeat: {$u.background_repeat};
        {/if}
        {if $u.background_color!=''}
        	background-color:{$u.background_color}{/if}; 
        {if $u.background_attachement=='yes'}
        	background-attachment:fixed
        {/if}"
    {/if}>
    
{include_header file="admin_bar"}

        <!-- Including Commong header -->
        <div class="container_container categorynum_{get_root_parent|default:none}">

    	{include file="$style_dir/header.html" }

            <div id="container" class="container clearfix" >

                <div id="content" style="">

                    {ANCHOR place='global' }

                    <!-- Message -->
                    {include file="$style_dir/message.html"}

                    <!-- Content -->
                    {foreach from=$template_files item=file}
                        { include_template_file file=$file }
                    {/foreach}

                </div> <!--CONTENT END-->

                <div class="clear" style="margin-top:10px"></div>
                {include file="$style_dir/footer.html"}

            </div><!-- #container end -->
        </div><!-- .container_container end -->

    </div><!-- #custombg end -->
</body>
</html>