<div id='credits'>
   <h1>Mentions légales / informations :</h1>

   <h2>Edition :</h2>
   <p>UTC - Université de Technologie de Compiègne
Rue du Dr Schweitzer
60200Compiègne
FRANCE
+33 3 44 23 44 23
E-mail : webmaster@utc.fr
Internet : <a href='http://www.utc.fr'>http://www.utc.fr</a>
   </p>

   <h2>Responsabilité éditoriale :</h2>
   <p>Directeur de la publication : Alain STORCK, Président de l’Université de Technologie de Compiègne (UTC)
   </p>

   <h2>Hébergement du site :</h2>
   <p>Direction des Systèmes d'Information
UTC - Université de Technologie de Compiègne
Rue Personne de Roberval
60200 Compiègne
FRANCE
+33 3 44 23 44 23
E-mail : webmaster@utc.fr
Internet : <a href='http://www.utc.fr'>http://www.utc.fr</a>
   </p>

   <h2>Conception, création &amp; développement technique :</h2>
   <p>UTC - Université de Technologie de Compiègne
Rue du Dr Schweitzer
60200Compiègne
FRANCE
+33 3 44 23 44 23
E-mail : webtv@utc.fr
Internet : <a href='http://www.utc.fr'>http://www.utc.fr</a>
Ce site a été créé à partir de <a href='http://clip-bucket.com'>ClipBucket</a>, plateforme vidéo d'encodage et de diffusion vidéo libre sous licence creative commons : <a href='http://www.clip-bucket.com'>http://www.clip-bucket.com <img src="{$baseurl}/images/logo_clipbucket.png" style='vertical-align: middle; margin-left:10px' height='30' alt=""/></a>
<p class='nopre'>ClipBucket a été développé par Arslan Hassan, cette version modifiée est issue des développements complémentaires de la <a href="http://ics.utc.fr">Cellule d'Appui Pédagogique</a> et de la Formation Continue de l'Université de Technologie de Compiègne.<p>
Le développement de ce site a bénéficié du soutien de :</p>
   			<div class='logos'>
	   			<a class='feder' href='http://www.picardie-europe.eu/les-programmes-operationnels/feder.html' title="L'europe s'engage en Picardie avec le FEDER"><img src="{$theme}/../images/utc/logo_feder_85x60.jpg" alt="L'europe s'engage en Picardie avec le FEDER"/></a>
   				<a class='europe' href='http://europa.eu/index_fr.htm' title="L'europe"><img src="{$theme}/../images/utc/logo_europe_90x60.jpg" alt="L'Europe"/></a>
                <a class='prefecture' href='http://www.picardie.pref.gouv.fr/' title='Préfet de la région Picardie'><img src="{$theme}/../images/utc/logo_prefecture_47x60.jpg" alt="Préfet de la région Picardie"/></a>
   				<a class='region' href='http://www.picardie.fr/' title='Région - Picardie'><img src="{$theme}/../images/utc/logo_picardie_60x60.jpg" alt="Picardie, la région"/></a>
   				<a class='unr' href='http://unr.picardie.fr/' title='Université Numérique en Région - Picardie'><img src="{$theme}/../images/utc/logo_unr_79x60.jpg" alt="UNR Picardie"/></a>
   			</div>

   <h2>Réalisation :</h2>
   <p>UTC - Université de Technologie de Compiègne
Rue du Dr Schweitzer
60200Compiègne
FRANCE
+33 3 44 23 44 23
E-mail : webtv@utc.fr
Internet : <a href='http://www.utc.fr'>http://www.utc.fr</a>
Certaines productions audiovisuelles de ce site (Savoirs TV) ont été réalisées en partenariat avec :</p>
   			<div class='logos'>
	   			<a class='feder' href='http://www.picardie-europe.eu/les-programmes-operationnels/feder.html' title="L'europe s'engage en Picardie avec le FEDER"><img src="{$theme}/../images/utc/logo_feder_85x60.jpg" alt="L'europe s'engage en Picardie avec le FEDER"/></a>
   				<a class='europe' href='http://europa.eu/index_fr.htm' title="L'europe"><img src="{$theme}/../images/utc/logo_europe_90x60.jpg" alt="L'Europe"/></a>
                <a class='prefecture' href='http://www.picardie.pref.gouv.fr/' title='Préfet de la région Picardie'><img src="{$theme}/../images/utc/logo_prefecture_47x60.jpg" alt="Préfet de la région Picardie"/></a>
   				<a class='region' href='http://www.picardie.fr/' title='Région - Picardie'><img src="{$theme}/../images/utc/logo_picardie_60x60.jpg" alt="Picardie, la région"/></a>
   				<a class='unr' href='http://unr.picardie.fr/' title='Université Numérique en Région - Picardie'><img src="{$theme}/../images/utc/logo_unr_79x60.jpg" alt="UNR Picardie"/></a>
   			</div>

   <h2>Cookies & Google Analytics:</h2>
   <p class='nopre'>Ce site utilise des cookies. Un cookie est un fichier de taille réduite stocké sur votre ordinateur. Les cookies sont utilisés d’une part, pour faciliter votre navigation sur le site et d’autre part, dans un but statistique. Ce site utilise Google Analytics, un service d'analyse de site internet fourni par Google Inc. (« Google »). Google Analytics utilise des cookies, qui sont des fichiers texte placés sur votre ordinateur, pour aider le site internet à analyser l'utilisation du site par ses utilisateurs. Les données générées par les cookies concernant votre utilisation du site (y compris votre adresse IP) seront transmises et stockées par Google sur des serveurs situés aux Etats-Unis. Google utilisera cette information dans le but d'évaluer votre utilisation du site, de compiler des rapports sur l'activité du site à destination de son éditeur et de fournir d'autres services relatifs à l'activité du site et à l'utilisation d'Internet. Google est susceptible de communiquer ces données à des tiers en cas d'obligation légale ou lorsque ces tiers traitent ces données pour le compte de Google, y compris notamment l'éditeur de ce site. Google ne recoupera pas votre adresse IP avec toute autre donnée détenue par Google. Vous pouvez désactiver l'utilisation de cookies en sélectionnant les paramètres appropriés de votre navigateur. Cependant, une telle désactivation pourrait empêcher l'utilisation de certaines fonctionnalités de ce site. En utilisant ce site internet, vous consentez expressément au traitement de vos données nominatives par Google dans les conditions et pour les finalités décrites ci-dessus.
   </p>

   <h2>Données personnelles :</h2>
   <p class='nopre'>Les données personnelles recueillies dans le cadre de ce site font l'objet
      des traitements automatisés conformes à la loi "Informatique, fichiers et libertés"
      n° 78-17 du 6 janvier 1978 modifiée par la loi n° 2004-801 du 6 août 2004.
      <a href='http://www.cnil.fr'><img src='{$baseurl}/images/logo_cnil.gif' style='vertical-align: middle; margin-left:10px; padding:3px; background:#fff' height='15'/></a>
   </p>
   <p>Pour toute question relative aux traitements des données à caractère personnel vous concernant, vous pouvez contacter le Correspondant Informatique et Libertés de l'UTC à
l'adresse suivante : cil@utc.fr.

Contact :
Correspondant Informatique et Libertés de l'UTC
Présidence
Centre Pierre Guillaumat
Rue du docteur Schweitzer
BP 60319
60203 Compiègne Cedex
Courriel : cil@utc.fr
   </p>

   <h2>Copyrights, droits d'auteur & propriété intellectuelle :</h2>
   <p class='nopre'>L’ensemble de ce site relève de la législation française sur
      le droit d’auteur et la propriété intellectuelle. Tous les droits de reproduction sont réservés,
      y compris pour les documents téléchargeables et les représentations iconographiques et photographiques.
      La reproduction de tout ou partie de ce site sur un support électronique quel qu’il soit est formellement
      interdite - sauf autorisation écrite de l’Université de Technologie de Compiègne (UTC).
      Vous pouvez écrire à la Direction de la Communication qui se chargera de transmettre
      votre demande et vous fera part de la réponse du directeur de publication.
   </p>
   <p class='nopre'>La reproduction des textes de ce site sur un support papier est autorisée, tout particulièrement dans le cadre pédagogique, sous réserve du respect des trois conditions suivantes :
<br/>- gratuité de la diffusion,
<br/>- respect de l’intégrité des documents reproduits : pas de modification ni altération d’aucune sorte,
<br/>- citation claire et lisible de la source sous la forme suivante : « Ce document provient du site internet Web-TV UTC webtv.utc.fr. Les droits de reproduction sont réservés et strictement limités ».
   </p>
</div>
