<div class='content_con'>

	<!--FEATURE_CON--> 
    <div class="feature_con clearfix">
    	<div class="block_title">
    		<h1 class="minortitle">A la une</h1>
    		<a href='videos.php?cat={get_root_parent}'>Voir toutes les vidéos</a>
    	</div>
    	<main id="skiptomain">
        	{section name=f_list loop=$featured_vids}
            	{include file="$style_dir/blocks/video.html" video=$featured_vids[f_list]}
            {/section}

            {if get_root_parent()==14}
            	{include file="$style_dir/pedago-content.html"}
            {/if}
        </main>
    </div>
    <!--FEATURE_CON END-->

</div> <!-- content_con END -->

<div class="side_con">

<!-- Listing Categories -->
	{include file="$style_dir/blocks/category_list.html" type='video'}
<!-- Listing Categories End -->

</div><!-- side_con END -->
