<div id="footer">

	<div class="footer_copyr">
    	<span class='utc'>&copy; {$title} {$smarty.now|date_format:"%Y"}</span><br/>

        <!-- Forged by ClipBucket -->
    	<!-- Please do not remove this unless you have license -->
    	<span class='cb'>Créé avec <a href="http://clip-bucket.com/">ClipBucket (Arslan Hassan)</a></span>
        {$Cbucket->footer()}
        <!-- Forged by ClipBucket ends -->
        <a class='credits' href='{$baseurl}/credits.php'>Mentions légales</a>
   	</div>

   <a href='http://www.utc.fr' class='mothership'>www.utc.fr</a>

    <div class='follow'>
		<span class='text'>Suivez l'UTC sur</span>
		<a class='twitter' href='http://twitter.com/utc_compiegne' title="Suivez l'actualité de l'UTC sur Twitter"><img src="{$theme}/../images/utc/link_twitter_32x32.png" alt="Twitter"/></a>
		<a class='google' href='https://plus.google.com/+utccompiegne/posts' title="Suivez l'actualité de l'UTC sur Google+"><img src="{$theme}/../images/utc/link_google_32x32.png" alt="Google Plus"/></a>
		<a class='linkedin' href='https://www.linkedin.com/edu/school?id=12515' title="Suivez l'actualité de l'UTC sur Linkedin"><img src="{$theme}/../images/utc/link_linkedin_32x32.png" alt="LinkedIn"/></a>
		<a class='facebook' href='https://www.facebook.com/pages/UTC-Universit%C3%A9-de-Technologie-de-Compi%C3%A8gne/86348219317' title="Restez connecté à l'UTC grâce à Facebook"><img src="{$theme}/../images/utc/link_facebook_32x32.png" alt="Facebook"/></a>
   	</div>

   	<div class='sub_footer'>
   		<div class='partners'>
   			<!--<span class='text'>Projet réalisé en partenariat avec :</span>-->
            <span class='text'>Le développement de ce site et la réalisation de certaines des vidéos qu'il contient ont bénéficié du soutien de :</span>
   			<div class='logos'>
	   			<a class='feder' href='http://www.picardie-europe.eu/les-programmes-operationnels/feder.html' title="L'europe s'engage en Picardie avec le FEDER"><img src="{$theme}/../images/utc/logo_feder_85x60.jpg" alt="L'europe s'engage en Picardie avec le FEDER"/></a>
   				<a class='europe' href='http://europa.eu/index_fr.htm' title="L'europe"><img src="{$theme}/../images/utc/logo_europe_90x60.jpg" alt="L'Europe"/></a>
                <a class='prefecture' href='http://www.picardie.pref.gouv.fr/' title='Préfet de la région Picardie'><img src="{$theme}/../images/utc/logo_prefecture_47x60.jpg" alt="Préfet de la région Picardie"/></a>
   				<a class='region' href='http://www.picardie.fr/' title='Région - Picardie'><img src="{$theme}/../images/utc/logo_picardie_60x60.jpg" alt="Picardie, la région"/></a>
   				<a class='unr' href='http://unr.picardie.fr/' title='Université Numérique en Région - Picardie'><img src="{$theme}/../images/utc/logo_unr_79x60.jpg" alt="UNR Picardie"/></a>
   			</div>
   		</div>
   	</div><!-- sub_footer end -->

</div> <!--FOOTER ID END-->

{literal}
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-34829025-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u=(("https:" == document.location.protocol) ? "https" : "http") + "://piwik.utc.fr/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 17]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript';
    g.defer=true; g.async=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="http://piwik.utc.fr/piwik.php?idsite=17" style="border:0;" alt="" /></p></noscript>
{/literal}