<div class="pagecontent">
<h2>Les vidéos pédagogiques à l'UTC</h2>
<h3>Consulter les vidéos pédagogiques</h3>
<p>La majorité des vidéos pédagogiques sont réservées aux étudiants UTC et ne sont pas visibles directement ici.
Elles sont intégrées dans la <a href="http://moodle.utc.fr">plateforme pédagogique Moodle</a>
au sein des cours concernés, pour les étudiants inscrits.</p>
<figure>
<img src="{$imageurl}/content/captation_moodle.png">
<figcaption>Exemple d'affichage de la liste des vidéos dans un cours Moodle</figcaption>
</figure>

<h3>Produire des vidéos pédagogiques</h3>
<p><b>La cellule d'Appui Pédagogique (CAP) met à disposition des enseignants un dispositif de captation automatisé.</b></p>
<p>Ce dispositif a pour objet de permettre à un enseignant d'enregistrer son cours de manière très simple (quelques clics suffisent).
La vidéo produite est bien sûr de nature utilitaire (plan fixe, proportion vidéo/slides identique tout au long de l'enregistrement)
et rencontre des limites (lisibilité des notes au tableau, captation des questions des étudiants) qui sont la contrepartie de
l'automatisation.</p>
<figure>
<img src="{$imageurl}/content/accueil_enregistrement.png">
<figcaption>Outil d'enregistrement des cours en amphi</figcaption>
</figure>

<h3>Plus d'informations</h3>
<p>Plus d'informations sur le site de la CAP :</p>
<ul>
<li><a href="http://ics.utc.fr/ics/co/captation-auto-webtv.html">Description du projet</a></li>
<li><a href="http://ics.utc.fr/ics/co/gestion-captation.html">Formation</a></li>
</ul>

<h3>Contact CAP</h3>
<p>
Si vous souhaitez utiliser ce dispositif, vous pouvez nous contacter par :
</p>
<ul>
<li>Email : <a href="mailto:cap@utc.fr">cap@utc.fr</a></li>
<li>Téléphone : 03.44.23.49.31</li>
<li><a href="http://ics.utc.fr/ics/co/formulaire.html">Formulaire de contact</a></li>
</ul>
</div>