<div id='search_results_container'>

	{*
		Note de Mickaël Urrutia :
		Pour l'instant je retire les barres de recherche 'simple' et 'advanced' parce qu'elles
		ne sont pas pertinentes avec notre implémentation et doivent être totalement repensées
		au niveau du design.
	*}

    <div class="heading">{$search_type_title}</div>

    <div class='results'>
   		{if $results}
    	    {foreach item=result from=$results}
       			{assign var=$template_var value=$result}
       			{include file="$display_template" }
       		{/foreach}
   		{else}
   			{lang code='no_results_found'}
   		{/if}
    	<div class="clearfix"></div>

    </div>

    <div class="clearfix"></div>
	{include file="$style_dir/blocks/pagination.html"}

</div><!-- search_result_container end -->

