<div id='container'>

<div class='content_con'>

<div class="block_title">
    	<h1 class="minortitle">{$category_name}</h1>
    	<a href='featured.php?cat={get_root_parent}'>voir les vidéos à la Une</span>
</div>
    

<div class="sort_cont">

<ul>
	<li>{lang code='sort_by'} :</li>
    {assign var=sorting_links value=func->sorting_links()}
    {foreach from=$sorting_links item=name key=sort}
    	<li {if $smarty.get.sort==$sort} class="selected"{/if}><a href="{link name=sort sort=$sort type=videos}">{$name}</a></li>
    {/foreach}
</ul>


</div>

<div class="time_cont">
{assign var=time_links value=func->time_links()}
{foreach from=$time_links item=name key=sort name=times}
    <a href="{link name=time sort=$sort type=videos}" {if $smarty.get.time==$sort} class="selected"{/if}>{$name}</a> {if !$smarty.foreach.times.last}|{/if}
{/foreach}
</div>

    <div id="style_change" style="margin-top:10px">
			<div id="grid" onclick="ToggleView(this);" title="Change To Grid Style"></div> 
			<div id="list" onclick="ToggleView(this);" title="Change to List Style"></div>	
			{lang code='change_style_of_listing'}
	</div> 
        
    <main id="skiptomain">
    <div id="videos_page">   
        {section name=v_list loop=$videos}
            {include file="$style_dir/blocks/video.html" video=$videos[v_list]}
        {sectionelse}
            {lang code='no_results_found'}
        {/section}
    </div>
    </main>
	
	{include file="$style_dir/blocks/pagination.html"}
	
</div>

</div> <!-- content_con END -->

<div class="side_con">

<!-- Listing Categories -->
	{include file="$style_dir/blocks/category_list.html" type='video'}
<!-- Listing Categories End -->

</div><!-- side_con END -->



