
    <div class="channel_inner_box" id="result_cont" style="display:none; background:#eee;"></div>
    
    <div class="moveL clearfix channelBox" style="width:270px;">
    	{include file="$style_dir/blocks/view_channel/channel_left.html"}
    </div> <!-- this is left side -->   
    <div class="moveL clearfix channelBox" style="width:700px;">
    {if isSectionEnabled('photos') || isSectionEnabled('videos')}
    
    {if $p.show_my_photos !='no'}
 		{get_photos assign=latestP order=" date_added DESC" limit=10 user=$u.userid}
    {/if}
    
    {get_videos assign=latestV order=" date_added DESC" limit=10 user=$u.userid status="Successful" broadcast="public"}    
    {if $latestP || $latestV}
    	<div class="channelFeatureBox clearfix">
         {if $p.show_my_photos !='no' && $latestP}
         
        	<div class="itemListing moveL"> 
                <button id="PprevItem" class="carouselButton"><img src="{$imageurl}/up.png"></button>
                	<div id="photoListing">
                        <ul style="list-style:none; margin:0px; padding:0px;">
                        {if $latestP}
                        test
                        {section name=plist loop=$latestP}
                        	{if $smarty.section.plist.iteration==1}
								{if !$profile_item}
                                	{assign var='profile_item' value=$latestP[plist]}
                                {/if}
                            {/if}
                            {include file="$style_dir/blocks/photo.html" photo=$latestP[plist] display_type='channel_page'}
                        {/section}
                        {else}
                        	<div style="min-height:200px; text-align:center; line-height:200px;"><em>{lang code='found_no_photos'}</em></div>
                        {/if}
                        </ul>
                    </div>
                    <button id="PnextItem" class="carouselButton"><img src="{$imageurl}/down.png"></button>
            </div> <!-- itemListing end -->
            {/if}
            
            {if $p.show_my_photos !='no' || $p.show_my_videos !='no'} 
            <div class="viewItemBox">
            	<div id="viewingArea" class="viewingArea">
					 
                </div> <!-- viewingArea end -->
            </div> <!-- viewItemBox end -->
            {/if}
            
            
            {if $p.show_my_videos !='no' && $latestV} 
            <div class="itemListing moveR">              
                
                	<button id="VprevItem" class="carouselButton"><img src="{$imageurl}/up.png"></button>
                	<div id="videoListing">
                        <ul style="list-style:none; margin:0px; padding:0px;">
                       
                        {section name=vlist loop=$latestV}
                        	{if !$profile_item}
                                {assign var='profile_item' value=$latestV[vlist]}
                            {/if}
                            {include file="$style_dir/blocks/video.html" video=$latestV[vlist] display_type='channel_page'}
                        {/section}
                       
                 
                        </ul>
                    </div>
                    <button id="VnextItem" class="carouselButton"><img src="{$imageurl}/down.png"></button>                           
            </div> <!-- itemListing end -->
            {/if}
        </div> <!-- channelFeatureBox end -->
        {/if}
        {/if}
        
        {* Fetching Profile item File*}
        
        {if $profile_item}
            <div id="profileItemScrap" style="display:none">
            {include file="$style_dir/blocks/view_channel/channel_item.html" object = $profile_item }</div>
            <script>
                $(document).ready
                (
                    function()
                    {ldelim}
                        $('#viewingArea').html($('#profileItemScrap').html());
                    {rdelim}
                );
            </script>
        {/if}
        
        <div class="clearfix channelBox" style="border:1px solid #ccc; padding:0px;">
        	<ul class="channelBar clearfix">
            	{if isSectionEnabled('feeds')}
            	<li><a href="#" rel="userFeeds" id="userFeedTab" onClick="channelObjects(this,'#channelDetailsBox','feeds','{$u.userid}'); return false;">{lang code='activity'}</a></li>
                {/if}
            	<li><a href="#" rel="infoDIV"  id="infoTab" onClick="channelObjects(this,'#channelDetailsBox','info','{$u.userid}'); return false;">{lang code='info'}</a></li>
                {if isSectionEnabled('videos')}
                <li><a href="#" onClick="channelObjects(this,'#channelDetailsBox','videos','{$u.userid}'); return false;">{lang code='videos'}</a></li>{/if}
                {if isSectionEnabled('groups')}
                <li><a href="#" onClick="channelObjects(this,'#channelDetailsBox','groups','{$u.userid}'); return false;">{lang code='groups'}</a></li>{/if}
                {if isSectionEnabled('photos')}
                <li><a href="#" onClick="channelObjects(this,'#channelDetailsBox','photos','{$u.userid}'); return false;">{lang code='photos'}</a></li>{/if}
            </ul>
            <div id="channelDetailsBox">
            	<div id="infoDIV" class="channelInnerPadding clearfix" style="display:none">
            
            <fieldset class="channelFieldset">
            	<div style="width:500px; float:left; margin-right:10px; padding-right:10px;border-right:1px solid #999">
                    {if $$p.profile_title}
                        <div class="channel_title">{$p.profile_title}</div>
                    {/if}
                    {if $$p.profile_desc}
                        {$p.profile_desc|nl2br}
                    {/if}
                    
                    <div class="channelLegend" style="margin-top:5px">{lang code='user_activity'}</div>
        				<div class="channelRow">
                            <div class="channelLabel">{lang code='joined'}</div>
                            <div class="channelDetail">{$u.doj|niceTime}</div>
                        </div>
                        
                        <div class="channelRow">
                            <div class="channelLabel">{lang code='user_last_login'}</div>
                            <div class="channelDetail">{$u.last_logged|niceTime}</div>
                        </div>
                        
                        
                        <div class="channelRow">
                            <div class="channelLabel">{lang code='online_status'}</div>
                            <div class="channelDetail">
                            {if $userquery->isOnline($u.last_active,$p.online_status)}
                            	<span style="color:#060">{lang code='online'}</span>
                            {else}
                            	<span style="color:#ed0000">{lang code='offline'}</span>
                            {/if}
                            </div>
                        </div>
                       
                        
                </div>
                
                <div style="width:160px;float:left; ">
                    {if $p.allow_ratings !='no' && $p.allow_ratings!='No'}
                        <div class="rating_container" style="height:auto; padding-right:0px; margin:0px auto 10px auto; border:0px">
                            {show_video_rating rating=$p.rating ratings=$p.rated_by total='10' id=$p.userid type=user}
                        </div>
                    {/if}
                    
                	<div class="channelCounts">{lang code='views'}<br>
                    {$u.profile_hits|number_format} </div>
                                        <div class="channelCounts" >{lang code='subscribers'}<br>
                    {$u.subscribers|number_format}</div>
                </div>
                
                <div class="clear"></div>
                
                
            </fieldset>
            {assign var='channel_profile_fields' value=$userquery->load_user_fields($p,'profile')}
            {foreach from=$channel_profile_fields item=field_group name=profile_groups}
                {if $smarty.foreach.profile_groups.iteration==2}
                	<div id="moreDetailsDIV" style="display:none">
                {/if}
                {if $field_group.channel_view !='no'}              
                    <fieldset class="channelFieldset">
                        <legend class="channelLegend">{$field_group.group_name}</legend>
                        
                        {if $field_group.group_id=='profile_location'}
                        	<div class="channelRow">
                                <div class="channelLabel">{lang code='country'}</div>
                                <div class="channelDetail">{$u.country|country}</div>
                            </div>
                        {/if}
                        
                       
                        
                        {foreach from=$field_group.fields item=field}
                        {if $field.auto_view=='yes' && $field.value}
                            <div class="channelRow">
                            {if $field.type !='textarea' && $field.type !='text' && $field.type !='textfield'}
                                <div class="channelLabel">{$field.title}</div>
                                <div class="channelDetail">{input_value input=$field}</div>
                            {elseif $field.type =='textarea'}
                                <div class="channelLabel">{$field.title}</div>
                                <div class="channelDetail">{$field.value|nl2br}</div>
                            {else}
                                <div class="channelLabel">{$field.title}</div>
                                <div class="channelDetail">{input_value input=$field}</div>                    
                            {/if}                                                
                            </div>
                        {/if}
                        {if $field_group.group_id=='profile_basic_info' 
                        	&& $field.name=='relation_status'
                            	&& $p.show_dob!='no'}
                        	<div class="channelRow">
                                <div class="channelLabel">{lang code='user_date_of_birth'}</div>
                                <div class="channelDetail">{$u.dob}</div>
                            </div>
                         {/if} 
                        {/foreach}                                       
                    </fieldset>
                  
                {/if}
               {if $smarty.foreach.profile_groups.last}
                </div>
                {/if}
            {/foreach}
            
			<fieldset id="moreDetails" class="channelFieldset">
            	<legend class="channelLegend" style=" margin-bottom:0px;" onClick="$('#moreDetails').hide(); $('#moreDetailsDIV').show();">{lang code='more'}</legend>
            </fieldset>
            
            </div>
            	
                
                {if isSectionEnabled('feeds')}
                <div id="userFeeds"  class="channelInnerPadding clearfix" style="display:none">
                	{assign var=userFeeds value=$cbfeeds->getUserFeeds($u)}
                    
                    {if $userFeeds}
                        {foreach from=$userFeeds item=userFeed}
                            {include file="$style_dir/blocks/feed.html" feed=$userFeed}
                        {/foreach}
                    {else}
                        <div align="center" class="no_comments">
                            {lang code='no_activity' assign=no_activity} {$no_activity|sprintf:$u.username}
                        </div>
                    {/if}
                </div>
                {/if}
            </div>
            <div class="borderLine clearfix" style=" border-width:1px; margin:0px 0px 15px;"></div>
			
            <div class="channelInnerPadding" id="commentsDIV">
            	<fieldset class="channelFieldset">
                	<legend class="channelLegend">{lang code="comments"}</legend>


<div id="comments"></div>
<script>
	$(document).ready(function()	
	{ldelim}
		{if isSectionEnabled('feeds')}
			channelObjects('#userFeedTab','#channelDetailsBox','feeds','{$u.userid}');
		{else}
			channelObjects('#infoTab','#channelDetailsBox','info','{$u.userid}');
		{/if}
		
		{if $p.show_my_photos!='yes'  || !$latestV || !$latestP}
			var viewingAreaParent = $('#viewingArea').parent().parent().width();	
			$('#viewingArea') .width(viewingAreaParent-180)	
		{/if}
		
		{if $myquery->is_commentable($p,'u')}
		comments_voting = 'no';	
		getComments('c','{$u.userid}','{$u.last_commented}',1,'{$u.comments_count}','{$object_type}')
		{/if}
	{rdelim}
	);
</script>
<hr width="100%" size="1" noshade>
            
            {if $myquery->is_commentable($p,'u')}
                {include file="$style_dir/blocks/comments/add_comment.html" id=$u.userid type=c}
			{else}
    			<div class="disable_msg" align="center">{lang code='coments_disabled_profile'}</div>
    		{/if}                    
                </fieldset>
            </div>            
        </div>
    </div> <!-- this is right side -->   
    
    <script>var funcToBCalled = '';
$(document).ready(function(){ldelim}
	var firstChild = $('.itemBox:first-child');
	funcToBCalled = firstChild.attr('onclick');
	;
	{rdelim}
	).bind(funcToBCalled);
	
	{if $smarty.const.THIS_PAGE == 'view_channel'}	
		
		{if $p.show_my_photos=='yes'  && $latestP}
			
			$('#photoListing').jCarouselLite({ldelim}
				vertical : true,
				btnNext : "#PnextItem",
				btnPrev : "#PprevItem",
				circular : false,
				speed : 500,
				visible	: 5
			{rdelim});
		{/if}
		{if $p.show_my_videos=='yes'  && $latestV}		
		$('#videoListing').jCarouselLite({ldelim}
			vertical : true,
			btnNext : "#VnextItem",
			btnPrev : "#VprevItem",
			circular : false,
			speed : 500,
			visible	: 5
		{rdelim});
		{/if}
		
	{/if}
</script>
    