<div class="category_list">
<span class="cat_heading">{lang code='categories'}</span>
<div class="categories">
    <ul>
    	{cbCategories type=$type echo="TRUE" list_style="collapsed" output="list" with_all="TRUE" with_thumbs="TRUE" with_desc="TRUE"}
    </ul>
</div>
</div>