
<!-- Video Box -->
{if $display_type =='normal' || $display_type==''}
<a href="{videoLink vdetails=$video}" title="{$video.title}">
<div class="watch_video_box">
    <div class="watch_video_box_thumb"> 
        
        <img src="{getThumb vdetails=$video}" border="0" {ANCHOR place="video_thumb" data=$video} alt=""/>
        <div class="duration">{$video.duration|SetTime}</div>
    </div>
   <div class='stats'>
      <span class='views'>{lang code='views'}: {$video.views|number_format}</span>
   </div>
  	<div class="watch_video_box_details">
      {$video.title|truncate:70}
   </div>
    <!--VIDEO_THUMB END-->
</div>
</a>
{/if}
<!-- Video Box -->
