<script type="text/javascript" src="{$videojs_url}/video.min.js"></script>
<script type="text/javascript" src="{$videojs_url}/videojs-resolution-switcher.js"></script>

<video id="mainvid" class="video-js vjs-default-skin vjs-big-play-centered">
<!-- 
{if $vp9_sd}
	<source src="{$vp9_sd}" type="video/webm" codecs="vp9,opus" label="SD" res="480">
{/if}
{if $vp9_hd}
	<source src="{$vp9_hd}" type="video/webm" codecs="vp9,opus" label="HD" res="720">
{/if}
	<source src="{$mp4_sd}" type="video/mp4" codecs="avc1.64002A,mp4a.40.2" label="SD" res="480">
{if $mp4_hd}
	<source src="{$mp4_hd}" type="video/mp4" codecs="avc1.64002A,mp4a.40.2" label="HD" res="720">
{/if}

	<p class="vjs-no-js">Impossible de lancer la lecture de cette vidéo, vérifiez que votre navigateur supporte les vidéos html5 au format "mp4", ou installez le plugin "flash player"</p> -->
	{foreach from=$subtitles_list item=subtitlepath key=subtitlecode}
	<track kind="captions" src="{$subtitlepath}" srclang="{$subtitlecode}" label="{$subtitlecode}" default>
	{/foreach}
</video>

<script>
videojs.options.flash.swf = "{$videojs_url}/video-js.swf";

var poster='{getThumb vdetails=$vdata size="big"}';
var mp4_sd='{$mp4_sd}';
var mp4_hd='{$mp4_hd}';
var vp9_sd='{$vp9_sd}';
var vp9_hd='{$vp9_hd}';
var width="{$player_data.width}";

{literal}
videojs("mainvid",
{
	"techOrder": ["html5", "flash"],
	"language":"fr",
	"controls": true,
	"autoplay": false,
	"preload": "auto",
	"width": width,
	"poster": poster,
    plugins: {
        videoJsResolutionSwitcher: {
          default: 'low', // Default resolution [{Number}, 'low', 'high'],
          dynamicLabel: true // Display dynamic labels or gear symbol
        }
      }
},function(){
	var player=this;
	window.player = player;
	
	// strangly can't use "canPlayType" on the videojs player on this version
	var dummyplayer = document.createElement('video');
	var srcarray=new Array();
	if (vp9_sd && dummyplayer.canPlayType('video/webm; codecs="vp9, opus"')=='probably') {
		srcarray.push(
		{
			src: vp9_sd,
			type: 'video/webm',
			codecs: 'vp9,opus',
			label: 'SD',
			res: 480
		}
		);
	}
	if (vp9_hd && dummyplayer.canPlayType('video/webm; codecs="vp9, opus"')=='probably') {
		srcarray.push(
		{
			src: vp9_hd,
			type: 'video/webm',
			codecs: 'vp9,opus',
			label: 'HD',
			res: 720
		}
		);
	}
	if (mp4_sd) {
		srcarray.push(
		{
			src: mp4_sd,
			type: 'video/mp4',
			codecs: 'avc1.64002A,mp4a.40.2',
			label: 'SD',
			res: 480
		}
		);
	}
	if (mp4_hd) {
		srcarray.push(
		{
			src: mp4_hd,
			type: 'video/mp4',
			codecs: 'avc1.64002A,mp4a.40.2',
			label: 'HD',
			res: 720
		}
		);
	}
	
	player.updateSrc(srcarray);
	
	var time=getTimeFromHash(location.hash);
	if (time) {
		videoseek(time);
	}
	
{/literal}
	{if $vdata.broadcast!='public'}
	{literal}
	$("video").bind('contextmenu',function() { return false; });
	{/literal}
	{/if}
{literal}
});

// time conversion function based on http://stackoverflow.com/a/9640417
function hmsToSecondsOnly(str) {
	var p = str.split(':'),
		s = 0, m = 1;

	while (p.length > 0) {
		s += m * parseInt(p.pop(), 10);
		m *= 60;
	}

	return s;
}

function getTimeFromHash(url) {
	return url.substr(url.indexOf('time=')).split('&')[0].split('=')[1];
}

function videoseek(str) {
	player.currentTime(hmsToSecondsOnly(str));
	player.poster(null);
}

{/literal}
</script>