<link rel="stylesheet" type="text/css" href="{$videojs_url}/video-js.min.css">
<link rel="stylesheet" type="text/css" href="{$videojs_url}/videojs-resolution-switcher.css">
{literal}<style>.vjs-poster{background-size:100% 100%;}</style>{/literal}