{* Including Global Header *}
{include file="$style_dir/global_header.html"}
<body>
{include_header file="admin_bar"}

<!-- Including Commong header -->
<div class="container_container categorynum_{get_root_parent}">
	{include file="$style_dir/header.html" }
    <div id="container" class="container clearfix" >
        
        <div class="nav_shadow"></div>
        <div id="content" style="">
        
        {ANCHOR place='global'}
        
        <!-- Message -->
        {include file="$style_dir/message.html"}
            {foreach from=$template_files item=file}
				{include_template_file file=$file}				 		
            {/foreach}
        </div> <!--CONTENT END-->
        <div class="clear" style="margin-top:10px"></div>

        <div id="footer">
            <div class="changer">
           
			    {if config("allow_language_change")}
                <form action="" method="post" name="change_lang">
                    {$cbobjects->display_languages()}              
                </form>
                {/if}       
                <div class="ch_left"></div>        	
                <div class="ch_right"></div>
            </div> <!--CHANGER END-->
            <div class="ch_shadow" style="height:10px"></div>
            <!--FOOTER CLASS END-->
            {include file="$style_dir/footer.html"}
        </div> <!--FOOTER ID END-->
    </div>
</div>
</body>
</html>