	<!--FEATURE_CON--> 
    <div class="feature_con clearfix">
    <div class="block_title">En vedette...</div>
        	{section name=f_list loop=$featured_vids}
            	{include file="$style_dir/blocks/editor_pick/index_featured_video.html" video=$featured_vids[f_list]}
            {/section}
    </div>
    <div class="feature_shadow" ></div>
    <!--FEATURE_CON END-->

<div id="introText">La webTV UTC vous offre une un nouveau regard sur les activités (InfoTV), recherches (SavoirTV) et enseignements (CoursTV) de l'établissement. A l'image de la dynamicité de l'UTC, elle est réguliérement alimentée par de nouveaux contenus. Référez vous au <a href="http://www.utc.fr">site UTC</a> pour compléter votre visonage par d'autres sources d'informations. (texte à modifier 3 lignes max)</div>

<div style="width:650px; float:left" class="vid_page_conainer" >
<div class="sort_cont">

<ul>
	<li>{lang code='sort_by'} :</li>
    {assign var=sorting_links value=func->sorting_links()}
    {foreach from=$sorting_links item=name key=sort}
    	<li {if $smarty.get.sort==$sort} class="selected"{/if}><a href="{link name=sort sort=$sort type=videos}">{$name}</a></li>
    {/foreach}
</ul>


</div>

<div class="time_cont">
{assign var=time_links value=func->time_links()}
{foreach from=$time_links item=name key=sort name=times}
    <a href="{link name=time sort=$sort type=videos}" {if $smarty.get.time==$sort} class="selected"{/if}>{$name}</a> {if !$smarty.foreach.times.last}|{/if}
{/foreach}
</div>

    <div id="style_change" style="margin-top:10px">
			<div id="grid" onclick="ToggleView(this);" title="Change To Grid Style"></div> 
			<div id="list" onclick="ToggleView(this);" title="Change to List Style"></div>	
			{lang code='change_style_of_listing'}
	</div> 
        
     <div id="videos_page">   
        {section name=v_list loop=$videos}
            {include file="$style_dir/blocks/video.html" video=$videos[v_list]}
        {sectionelse}
            {lang code='no_results_found'}
        {/section}
    </div>
    <div class="clearfix"></div>
</div>

<!-- Listing Categories -->
	{include file="$style_dir/blocks/category_list.html" type='video'}
<!-- Listing Categories End -->

<div class="vert_add_box">
<div style="width:160px; margin:auto; margin-top:5px">
   {AD place='ad_160x600'}
</div>

</div>

<div class="clearfix" style="margin-bottom:10px"></div>

{include file="$style_dir/blocks/pagination.html"}
