<div id="mediaplayer">Loading player, please wait....</div>
<script type="text/javascript">
var jw_player5_file = '{$jw_player5_url}/player.swf';
var jw_player5_url = '{$jw_player5_url}';
var player_logo = '{$player_logo}';
var hq_video_file = '{$hq_vid_file}';
var normal_video_file = '{$normal_vid_file}';
var subtitles_url_list = '{$subtitles_url_list}';
var subtitles_languages_list = '{$subtitles_languages_list}';
var ytcode = '{$ytcode}';
var pre_item = "";
var next_item = "";
var preview_img = '{getThumb vdetails=$vdata size="big"}';
var embed_type = '{$Cbucket->configs.embed_type}';


		jwplayer("mediaplayer").setup({ldelim}
		modes: [
		        {ldelim}type: 'flash', src: jw_player5_file{rdelim},
		        {ldelim}type: 'html5'{rdelim},
		        {ldelim}type: 'download'{rdelim}
		],
		skin : jw_player5_url+'/skins/{$cb_skin}',
		{if $ytcode}
		file: 'http://www.youtube.com/watch?v={$ytcode}',
		{else}
		file: normal_video_file,
		{/if}
		image: preview_img,
		width: '{$player_data.width}',
		height:'{$player_data.height}',
		autostart : '{$player_data.autoplay}',
		screencolor: "000000",
		
		<!-- Setting Pseudo Streaming -->
		{if $Cbucket->configs.pseudostreaming=='yes'}provider: 'http',{/if}
		
		<!-- Setting Plugins -->
		'plugins':
		{ldelim}
			
			<!-- Loading HQ Plugin -->
			{if isset($hq_vid_file) && $hq_vid_file!=$normal_vid_file}
			'hd-2':
			{ldelim}
				'file':hq_video_file
			{rdelim},
			<!-- End Loading HQ Plugin -->
			<!-- Loading Viral Plugin -->
			'viral-2':
			{ldelim}
				'onpause':false,
				'oncomplete':false,
				'allowmenu':false
			{rdelim},
			{/if}
			<!-- Loading Subtitles Plugin -->
			{if isset($subtitles_url_list)}
		    'captions-2': {ldelim}
		        files: subtitles_url_list,
		        labels: subtitles_languages_list,
		    {rdelim},
		    {/if}
			<!-- Adding Extra Plugin Files -->
			
			<!-- Adding Extra Plugin Files -->
		{rdelim}
		,
		
		
		<!-- Events And JS Api -->
		events:{ldelim}
			onComplete:function()
			{ldelim}
				if(next_item)
				{ldelim}
					if($.cookie('auto_play_playlist'))
					window.location = next_item;
				{rdelim}
			{rdelim}
		{rdelim}
	{rdelim});



	<!-- Writing Quality Toggle function which will work outside the player -->
	{literal}
	var video_quality = 'normal';
	function cb_toggle_quality()
	{
		jwplayer().stop();
		if(video_quality=='normal')
		{
			video_quality = 'hq';
			jwplayer().load(hq_video_file);
			jwplayer().play();
		}else
		{
			video_quality = 'normal';
			jwplayer().load(normal_video_file);
			jwplayer().play();
		}
	}
	has_hq_function = true;
	hq_function = cb_toggle_quality;
	
	// video-seek function can be called externally by JS from an other file
	// and is called by this file if the url fragment is something like #time=xx:yy
	function videoseek(time) {
		arr = time.split(':');
		if (arr.length<2)
			// not a valid time...
			return;
		if (arr.length==2) {
			// min:sec
			hour = 0;
			min = parseInt(arr[0]);
			sec = parseInt(arr[1]);
		} else if (arr.length==3) {
			// hour:min:sec
			hour = parseInt(arr[0]);
			min = parseInt(arr[1]);
			sec = parseInt(arr[2]);
		} else {
			return;
		}
		jwplayer().seek(sec+min*60+hour*3600);
	}
	function videoseektohash() {
		// most URL will not have a time fragment, so we rather get them out of the way
		if (!location.hash)
			return;
		
		// handle multi-params fragments : #somestuff=ok&time=0:10&otherthings=1
		var vars = location.hash.substring(1).split('&');
		for (i=0; i<vars.length; i++) {
			var tmp = vars[i].split('=',2);
			if (tmp.length!=2)
				return;
			if (tmp[0]=='time')
				videoseek(tmp[1]);
		}
	}
	videoseektohash();
	{/literal}
	<!-- Toggle quality video ends -->
</script>
